* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.9rem;
}

.main-container {
    padding: 20px 40px;
    display: flex;
}

.main-container > div {
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.main-content {
    flex: 3;
    order: 2;
}

.left-sidebar {
    flex: 1;
    order: 1;
}

.right-sidebar {
    flex: 1;
    order: 3;
}

.gallery-container {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.gallery-container > div {
    margin-bottom: 1rem;
    flex-basis: 15%;
    background-color: #cecece;
    padding: 20px 40px;
}

.complex-container {
    padding: 20px 40px;
}

.complex-container > div {
    border: 1px solid #ccc;
    padding: 20px 40px;
}

.content-2 {
    background-color: coral;
}

.content-3 {
    background-color: darkslategray;
}